body {
  background-color: #f0f8ff; /* AliceBlue */
}

h1 {
text-align: center;
}

.pokemon-list {
  list-style-type: none;
  text-align: center;
}

.pokemon-list li {
  display: block;
  margin: 6px auto;
}

.button-class {
  background-color: #008080; /* Teal */
  color: #fff; /* White */
  width: 100%;
  max-width: 800px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
